.next-5-races {
    margin-top: 50px;
}

.next-5-races label {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.next-5-races span {
    display: inline-block;
    width: 150px;
    margin-right: 30px;
}

.view-race-details {
    color: #337ab7;
    cursor: pointer;
}

.view-race-details:hover{
    text-decoration: underline;
}

.next-5-races > li {
    padding: 20px 0;
}

.next-5-races > li:not(:first-child) {
    border-top: 1px dotted #EEE;
}

h1 {
    text-shadow: 1px 1px #7c7979;
}

.container{ 
    border: 2px solid #7c7979;
    padding: 10px;
    border-top-left-radius: 25px;
   
}